<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret santa - Thibaut MILVILLE</title>
  <!-- Favicon + Styles + FontAwesome (icons) -->
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <main>
    <section>
      <h1>Secret santa</h1>
      <form method="post" id="multistep-form">
        <!-- Step 1 -->
        <div class="slide active" id="step1">
          <h2>Information</h2>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Your name" required>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Your email" required>
          <button type="button" class="next-button">Next<i class="fa-solid fa-arrow-right"></i></button>
          <!-- Progress bar -->
          <div class="progress-indicator">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- Step 2 -->
        <div class="slide" id="step2">
          <h2>Participants</h2>
          <!-- Participants list (hidden) -->
          <div class="participants-list">
            <div class="participant">
              <p><b>Name</b></p>
              <p><b>Email</b></p>
              <p><b>Delete</b></p>
            </div>
          </div>
          <label for="participant">Participant</label>
          <input type="text" name="participant" id="participant" placeholder="Name">
          <label for="participant_email">Email</label>
          <input type="email" name="participant_email" id="participant_email" placeholder="Email">
          <button type="button" class="add-a-participant">Add</button>
          <div class="progress-buttons">
            <button type="button" class="prev-button"><i class="fa-solid fa-arrow-left"></i>Previous</button>
            <button type="button" class="next-button">Next<i class="fa-solid fa-arrow-right"></i></button>
          </div>

          <!-- Progress bar -->
          <div class="progress-indicator">
            <span></span>
            <span class="active"></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- Step 3 -->
        <div class="slide" id="step3">
          <h2>Blacklist</h2>
          <!-- Blacklist list (hidden) -->
          <div class="blacklist-list">
            <div class="blacklist">
              <p><b>Giver</b></p>
              <p><b>Receiver</b></p>
              <p><b>Delete</b></p>
            </div>
          </div>
          <div class="blacklist-choice">
            <select>
              <option value="default" selected>Select a participant</option>
            </select>
            <p>cannot offer a gift to:</p>
            <select>
              <option value="default" selected>Select a participant</option>
            </select>
          </div>
          <button type="button" class="add-a-blacklist">Add</button>
          <div class="progress-buttons">
            <button type="button" class="prev-button"><i class="fa-solid fa-arrow-left"></i>Previous</button>
            <button type="button" class="next-button">Next<i class="fa-solid fa-arrow-right"></i></button>
          </div>

          <!-- Progress bar -->
          <div class="progress-indicator">
            <span></span>
            <span></span>
            <span class="active"></span>
            <span></span>
          </div>
        </div>
        <!-- Step 4 -->
        <div class="slide" id="step4">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="3" placeholder="Your message"></textarea>
          <button type="button" class="prev-button last-one"><i class="fa-solid fa-arrow-left"></i>Previous</button>
          <button type="submit" id="submit-button">Send</button>
          <!-- Progress bar -->
          <div class="progress-indicator">
            <span></span>
            <span></span>
            <span></span>
            <span class="active"></span>
          </div>
        </div>
      </form>
    </section>
  </main>
  <script type="module" src="/static/scripts/main.js"></script>
  <script type="module" src="/static/scripts/classes/formLogic.js"></script>
</body>

</html>