<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret santa - Thibaut MILVILLE</title>
  <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
  <main>
    <section>
      <h1>Secret santa</h1>
      <form action="index.php" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Your email" required>
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="3" placeholder="Your message" required></textarea>
        <input type="submit" value="Send">
      </form>
    </section>
  </main>
</body>

</html>