<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret santa - Thibaut MILVILLE</title>
  <!-- Styles + FontAwesome (icons) -->
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <main>
    <section>
      <h1>Secret santa</h1>
      <form method="post" id="multistep-form">
        <div class="slide" id="step1">
          <h2>Information</h2>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Your name" required>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Your email" required>
          <button class="next-button">Next<i class="fa-solid fa-arrow-right"></i></button>
          <!-- Progress bar -->
          <div class="progress-indicator">
            <span class="active"></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="slide" id="step2">
          <h2>Participants</h2>
          <label for="participant">Participant</label>
          <input type="text" name="participant" id="participant" placeholder="Name" required>
          <label for="participant_email">Email</label>
          <input type="email" name="participant_email" id="participant_email" placeholder="Email" required>
          <button>Add</button>
          <button class="prev-button">Previous</button>
          <button class="next-button">Next</button>
          <!-- Progress bar -->
          <div class="progress-indicator">
            <span></span>
            <span class="active"></span>
            <span></span>
          </div>
        </div>
        <div class="slide" id="step3">
          <label for="message">Message</label>
          <textarea name="message" id="message" cols="30" rows="3" placeholder="Your message" required></textarea>
          <button class="prev-button">Previous</button>
          <button type="submit" onclick="send()">Send</button>
          <!-- Progress bar -->
          <div class="progress-indicator">
            <span></span>
            <span></span>
            <span class="active"></span>
          </div>
        </div>
      </form>
    </section>
  </main>
  <script type="module" src="/static/scripts/main.js"></script>
  <script type="module" src="/static/scripts/classes/formLogic.js"></script>
</body>

</html>